<form
  [formGroup]="form"
  (ngSubmit)="submit()"
>
  <h2>Login as administrator</h2>

  <div class="form-control">
    <label for="email">Email</label>
    <input
      id="email"
      type="email"
      formControlName="email"
    >
    <div
      *ngIf="form.get('email')?.touched && form.get('email')?.invalid"
      class="validation"
    >
      <small *ngIf="form.get('email')?.errors">Enter email</small>
      <small *ngIf="form.get('email')?.errors">Enter valid
        email</small>
    </div>
  </div>

  <div class="form-control">
    <label for="email">Password</label>
    <input
      id="password"
      type="password"
      formControlName="password"
    >
    <div
      *ngIf="form.get('password')?.touched && form.get('password')?.invalid"
      class="validation"
    >
      <small *ngIf="form.get('password')?.errors">Enter
        password</small>
      <small *ngIf="form.get('password')?.errors">
        Password must be
        {{form.get('password')?.errors}}
        characters. Now it has
        {{form.get('password')?.errors}}
      </small>
    </div>
  </div>

  <button type="submit" class="btn btn-primary btn-block" [disabled]="form.invalid || submited">Login</button>

</form>
